<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <%= link_to user_path(comment.user_id) do %>
      <% if comment.user.avatar.attached? %>
        <p><%= image_tag(rails_blob_path(comment.avatar),:size => "30x30", class: "img-circle") %><%= comment.user.nickname %></p>
      <% else %>
        <p><%= image_tag("default_user.png", :size => "30x30", class: "img-circle pl-1em") %><%= comment.user.nickname %></p>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-between">
      <p><%= comment.text %></p>
      <small class="text-muted"><%= time_ago_in_words(comment.created_at) %>前</small>
    </div>
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true %></p>
    <% end %>
    <hr>
  <% end %>
<% end %>