
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              人気タグ一覧
            </a>
          </li>
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              <%= link_to "#{tag.name}(#{tag.taggings_count})",articles_path(tag: tag.name)%>
            </a>
          </li>
          <% end %>
        <%end%>
        </ul>
    </nav>

    <main class="ml-20em col-9 ms-auto">
      <nav class="mb-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <%= link_to("新着記事一覧", articles_path, class: "nav-item nav-link active", id:"nav-home-tab", "data-toggle": "tab", role: "tab", "aria-controls": "nav-home", "aria-selected": "true")%>
          <%= link_to("人気記事一覧", articles_path, class: "nav-item nav-link ", id:"nav-home-tab", "data-toggle": "tab", role: "tab", "aria-controls": "nav-home", "aria-selected": "false")%>
          <%= link_to("閲覧数の多い記事", articles_path(option: "view"), class: "nav-item nav-link ", id:"nav-home-tab", "data-toggle": "tab", role: "tab", "aria-controls": "nav-home", "aria-selected": "false")%>
        </div>
      </nav>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-20em">
            <%= render partial: 'article', collection: @articles%> <%#検索機能を@resultsにしないと検索はできない%>
          </div>
          <%= paginate @articles %>
        </div>
      </div>
    </main>
  </div>
</div>
