<div class="container-fluid">
  <div class="row">
    <%= render partial: "sidebar" %>
    <main class="ml-20em col-9 ms-auto taison">
      <nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <%= active_link_to articles_path(option: "new"), active: { option: "new"}, class: "nav-item nav-link" do %>
              <i class="fas fa-sort-numeric-down">新着記事</i>
            <% end %>
            <%= active_link_to articles_path(option: "timeline"),active: { option: 'timeline' }, class: "nav-item nav-link " do %>
              <i class="fas fa-users">タイムライン</i>
            <% end %>
            <%= active_link_to articles_path(option: "likes"),active: { option: 'likes' }, class: "nav-item nav-link " do %>
              <i class="fas fa-heart">いいねの多い記事</i>
            <% end %>
            <%= active_link_to  articles_path(option: "views"),active: { option: 'views' }, class: "nav-item nav-link " do %>
              <i class="fas fa-chart-line">閲覧数の多い記事</i>
            <% end %>
          </div>
        </div>
      </nav>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-20em mt-20em">
            <%= render partial: 'article', collection: @articles%> <%#検索機能を@resultsにしないと検索はできない%>
          </div>
          <div class= "ml-4 pagination">
            <%= paginate @articles %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<% breadcrumb :root %>