<div class="container-fluid">
  <div class="row">
    <%= render partial: "sidebar" %>
    <main class="ml-20em col-9 ms-auto">
      <nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <%= link_to("新着記事", articles_path, class: "nav-item nav-link active") %>
            <%= link_to("いいねの多い記事", articles_path(option: "likes"), class: "nav-item nav-link ")%>
            <%= link_to("閲覧数の多い記事", articles_path(option: "views"), class: "nav-item nav-link ")%>
            <%= link_to("タイムライン", articles_path(option: "timeline"), class: "nav-item nav-link ")%>
          </div>
        </div>
      </nav>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-20em mt-20em">
            <%= render partial: 'article', collection: @articles%> <%#検索機能を@resultsにしないと検索はできない%>
          </div>
          <div class= "ml-4 pagination">
            <%= paginate @articles %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<% breadcrumb :root %>