<div class="container py-5 px-5">
  <div class="px-5">
    <%= form_with model: @article, url: articles_path, local: true do |f| %>
      <div class="row mb-3">
        <%= f.label :image, "サムネイル画像", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.file_field :image, class: "form-control w-50", type: "file"%>
          <div id="image-list"></div>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :title,  "題名", class: "col-sm-2 col-form-label " %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control w-75" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :tag_list, "タグ", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :tag_list,value: @article.tag_list.join(","), class:"form-control w-75" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :content, "記事本文", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10 mt-4">
          <%= f.rich_text_area :content,size: "500x500", class: "form-control" %>
        </div>
      </div>
      <%= f.submit "投稿する", class: "create-btn mt-4 p-2 pb-2" %>
    <% end %>
  </div>
</div>
<%= image_tag @article.image, id: 'image' if @article.image.present? %> 