
<% if user_signed_in? %>
  <% if current_user.id == @article.user.id %>
    <%= link_to "編集", edit_article_path(@article.id), method: :get, class: "article-red-btn" %>
    <%= link_to "削除", article_path(@article.id), method: :delete, class:"article-destroy" %>
  <% end %>
<% end %>
<%= link_to"#{@article.user.nickname}", user_path(@article.user_id) %>
<%= @article.title %>
<%= @article.content %>
<%= @article.tag_list %>
<%= @article.impressions_count %>
<div id="article-<%= @article.id %>">
    <%= render partial: 'stocks/stock', locals: { article: @article } %>
</div>
<div id="likes_buttons_<%= @article.id %>">
  <%= render partial: 'likes/like', locals: { article: @article} %>
</div>

<div>
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧を記事の詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if user_signed_in? %>
      <!-- コメント入力欄を記事の詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
    <% end %>
  </div>