<%= render "shared/header" %>
<% if current_user.id == @article.user.id %>
  <%= link_to "編集", edit_article_path(@article.id), method: :get, class: "article-red-btn" %>
  <%= link_to "削除", article_path(@article.id), method: :delete, class:"article-destroy" %>
<% end %>
<%= @article.title %>
<%= @article.content %>
<%= @article.tag_list %>
<% if current_user.liked_by?(@article.id) %>
  <td><%= link_to 'いいねを外す', destroy_like_path(@article), method: :DELETE, remote: true %><%= @article.likes.count %></td>
<% else %>
  <td><%= link_to 'いいね', create_like_path(@article), method: :POST, remote: true %><%= @article.likes.count %></td>
<% end %>

<div>
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
    <% end %>
  </div>