<body class="d-flex flex-column h-100">
<main class="flex-shrink-0 px-5">
  <div class="container px-5">
    <section class="pt-2  container">
      <div class="row py-lg-5">
        <div class="col-lg-7 col-md-9 mx-auto">
        <% if @article.image.attached? %>
          <%=image_tag @article.image, class: "bd-placeholder-img card-img-top" %>  <%# width="100%" height="225" もし必要になったらこれをcssにやる%>
        <% else %>
          <%= image_tag("kokuban.jpeg", class: "bd-placeholder-img card-img-top")%>
        <% end %>
        </div>
      </div>
    </section>
    <section class="container px-5">
      <div class="row py-lg-5">
        <div class="col-lg-7 col-md-9 mx-auto">
          <h1 class="mt-3"><%= @article.title%></h1>
          <div class="d-flex justify-content-sm-between align-items-sm-center">
          <%= link_to user_path(@article.user.id), class: "shadow-none text-decoration-none" do %>
            <% if @article.user.avatar.attached? %>
              <p><%= image_tag(rails_blob_path(@article.user.avatar),:size => "30x30", class: "img-circle") %><%= @article.user.nickname %></p>
            <% else %>
              <p><%= image_tag("default_user.png", :size => "40x40", class: "img-circle pl-1em") %><%= @article.user.nickname %></p>
            <% end %>
          <% end %>
              <small class="text-muted"><%= @article.impressions_count %>views</small>
          </div>
          <div>
            <% @article.tags.each do |tag|%>
                <%= link_to "#{tag.name}(#{tag.taggings_count})",articles_path(tag: tag.name), class: "side-tag text-decoration-none "%>
            <% end %>
          </div>
          <div>
            <%= @article.content%>
          <%if @article.youtube_url.present? %>
            <iframe class= "my-5" width="560" height="315" src="https://www.youtube.com/embed/<%= @article.youtube_url[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <%end%>
          </div>
        <% if user_signed_in? %>
          <% if current_user.id == @article.user.id %>
          <div class="d-flex justify-content-sm-between">
            <div>
              <%= link_to edit_article_path(@article.id), method: :get, class: "article-red-btn shadow-none text-decoration-none" do %>
                <i class="fas fa-edit">編集</i>
              <% end %>
              <%= link_to  article_path(@article.id), method: :delete, class:"article-destroy ml-3 shadow-none text-decoration-none" do %>
                <i class="fas fa-trash-alt">削除</i>
              <% end %>
            </div>
            <div>
              <small class="text-muted"><%= time_ago_in_words(@article.created_at) %>前に作成</small>
            </div>
          </div>
          <% else %>
          <div class="d-flex justify-content-sm-between align-items-sm-center">
            <div class="d-flex">
              <div id="article-<%= @article.id %>">
                <%= render partial: 'stocks/stock', locals: { article: @article } %>
              </div>
              <div id="likes_buttons_<%= @article.id %>", class="ml-2 mt-1">
                <%= render partial: 'likes/like', locals: { article: @article} %>
              </div>
            </div>
            <div>
              <small class="text-muted"><%= time_ago_in_words(@article.created_at) %>前に作成</small>
            <div>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <hr>
    </section>

    <section class="container px-5">
      <div class="row py-lg-5">
        <div class="col-lg-7 col-md-9 mx-auto">
          <div class="d-flex align-items-center mb-5">
            <i class="fas fa-comments fa-2x"></i>
            <h1>コメント</h1>
          </div>
          <div id="comments_area"><!-- #① -->
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
          </div>  
          <% if user_signed_in? %>
          <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
          <% end %>
        </div>
      </div>
    </section>
  <% if user_signed_in? %>
    <div class="container recomend-section px-5">
    <h3 class="mb-4">あなたにおすすめの記事</h3>
    <hr>
    <% @articles.each do |article| %>
      <%= render partial: "show", locals: { article: article } %>
    <% end %>
    </div>
  <% end %>
  </div>
</main>
</body>
<% breadcrumb :article %>