<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6 mx-auto">
  <div class= "form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
       <% if visitor.avatar.attached? %>
        <%= image_tag(rails_blob_path(visitor.avatar), size: "50x50", class: "img-circle") %>
       <% else %>
        <%= image_tag("default_user.png", size: "50x50", class: "img-circle") %>
       <% end %>
        <strong>
          <%= visitor.nickname%>
        </strong>
      <% end %>
      <%= 'さんが' %>
      <% case notification.action
      when 'follow' then %>
        <%= "あなたをフォローしました"%>
      <% when 'like' then %>
        <%= link_to 'あなたの投稿', notification.article, style: "font-weight: bold;", "data-turbolinks": false  %>
        <%= "にいいねしました"%>
      <% when 'comment' then %>
        <% if notification.article.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.article, style: "font-weight: bold;", "data-turbolinks": false  %>
          <%= "にコメントしました"%>
        <% else %>
          <span>
            <%= link_to article_path(notification.article), "data-turbolinks": false  do %>
             <% if notification.article.user.avatar.attached? %>
              <%= image_tag rails_blob_path(notification.article.user.avatar), class: 'icon_mini'%>
             <% else %>
              <%= image_tag("default_user.png", size: "50x50", class: "img-circle")%>
             <% end %>
              <strong>
                <%= notification.article.user.nickname + 'さんの投稿'%>
              </strong>
            <% end %>
          </span>
        <%= "にコメントしました"%>
        <p class= "text-muted.mb-0">
          <%= Comment.find_by(id: notification.comment_id)&.comment %>
        </p>
        <% end %>
      <% end %>
    </span>
  </div>
  <div class="small.text-muted.text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>前
  </div>
  <hr>
</div>