<main>
  <section class="pt-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if @user.avatar.attached? %>
            <p><%= image_tag(rails_blob_path(@user.avatar), size: "100x100", class: "img-circle") %></p>
          <% else %>
            <p><%= image_tag("default_user.png", size: "100x100", class: "img-circle") %></p>
          <% end %>
        <h1 class="fw-light"><%= @user.nickname%></h1>
      <% if user_signed_in? %>
        <div id="follow-ajax">
          <%= render 'shared/follow',user: @user %>
        </div>
      <% end %>
        
      <% if user_signed_in? &&current_user.id == @user.id %>
        <p>
          <span class= "mr-4">
          <%= link_to edit_user_registration_path(current_user.id) do %>
            <i class="fas fa-user-edit">編集</i>
          <% end %>
          </span>
          
          <span>
          <%= link_to activities_path, remote: true do %>
            <i class="fas fa-user-clock">履歴</i>
          <% end %>
          </span>
        </p>
    <% end %>
    <% if user_signed_in? %>
      <% unless @user.id == current_user.id %>
        <% if @isRoom == true %>
          <%= link_to room_path(@roomId), class: "create-btn user-show-room" do %>
            <button type="button" class="create-btn"><i class="fas fa-envelope"></i>メッセージ</button>
          <% end %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= button_tag type: 'submit', class: "create-btn user-show-room" do %>
              <i class="fas fa-envelope">メッセージ</i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= active_link_to("投稿した記事", user_path(id: @user.id, option: 'created'), class: "nav-item nav-link", active: { option: 'created' }) %>
          <% if user_signed_in? && @user.id == current_user.id %>
            <%= active_link_to("いいねした記事", user_path(option: "likes", id: @user.id), class: "nav-item nav-link ", active: { option: 'likes' })%>
            <%= active_link_to("ストックした記事", user_path(option: "stocks", id: @user.id), class: "nav-item nav-link ", active: { option: 'stocks' })%>
          <% end %>
          </div>
        </div>
      </nav>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id = "article-list">
        <%= render partial: "articles/article",collection: @articles %>
        <%= link_to_next_page @articles, 'もっと見る', id: 'more-article', class: 'btn btn-light w-100', params: { type: :article }, remote: true %>
      </div>
    </div>
  </div>
</main>
<% breadcrumb :user %>