<div class="container py-5 px-5">
  <div class="px-5">
    <%= form_with(model: @article, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="row mb-3">
        <%= f.label :image, "サムネイル画像", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.file_field :image, class: "form-control w-50", type: "file"%>
          <div id="image-list"></div>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :title,  "タイトル", class: "col-sm-2 col-form-label " %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control w-75", placeholder: "20文字以内で入力してください" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :tag_list, "タグ", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :tag_list,value: @article.tag_list.join(","), class:"form-control tag-form" , placeholder: "タグは5個までです",data: {role: "tagsinput"}%>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.label :content, "記事本文", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10 mt-4">
          <%= f.rich_text_area :content ,size: "500x500", class: "form-control", placeholder: "記事本文は10文字以上1000文字未満で入力してください" %>
        </div>
      </div>
      <%= f.submit "公開する", class: "create-btn mt-4 p-2 pb-2" %>
    <% end %>
  </div>
</div>
