
<div class="header sticky-top ">
  <div class ="logo-block">
    <div class="logo"><%=link_to "Study Output", root_path %></div>
  </div>
  <div class="mypage-block">
  <% if user_signed_in? %>
    <%= link_to "投稿する", new_article_path, class: 'btn btn-default' %>
    <%= link_to "マイページ", user_path(current_user.id), class: 'btn btn-default'%>
    <%= link_to "ログアウト", destroy_user_session_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to "サインイン",new_user_session_path, class: 'btn btn-default'%>
    <%= link_to "サインアップ",new_user_registration_path, class: 'btn btn-default'%>
  <% end %>
  </div>
</div>
