
<div class="mesgs">
<div class="message_header ">
  <p><%= opponent_user_span(@room)%>さん</p>
</div>
  <div class="msg_history">
  <div id= "messages">
  <% if @messages.present? %>
  <% @messages.each do |m| %>
    <% if m.user.id == current_user.id %>
    <div class="outgoing_msg" >
      <div class="sent_msg">
        <p><%= m.message %></p>
        <span class="time_date"><%= time_ago_in_words(m.created_at) %>前</span>
      </div>
    </div>
    <% else %>
    <div class="incoming_msg">
      <div class="incoming_msg_img"> 
      <%= link_to user_path(m.user.id) do %>
        <% if m.user.avatar.attached? %>
          <%= image_tag(rails_blob_path(m.user.avatar), size: "35x35", class: "img-circle") %>
        <% else %>
          <%= image_tag("default_user.png", size: "35x35", class: "img-circle") %>
        <% end %>
      <% end %>
      </div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p><%= m.message %></p>
          <span class="time_date"><%= time_ago_in_words(m.created_at) %>前</span>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <% end %>
  </div>
</div>