        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h3 style="font-weight: bold; color: #006669;">メッセージ</h3>
            </div>
          </div>
          <div class="inbox_chat">
          <% @rooms.each do |room| %>
          <% entry = room.entries.where.not(user_id: current_user) %>
          <% user = entry[0].user%>
            <%= active_link_to room_path(room), class: "active-room" do %>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> 
                  <% if user.avatar.attached? %>
                    <%= image_tag(rails_blob_path(user.avatar), size: "35x35", class: "img-circle") %>
                  <% else %>
                    <%= image_tag("default_user.png", size: "35x35", class: "img-circle") %>
                  <% end %>
                </div>
                <div class="chat_ib">
                  <h5>
                    <%=user.nickname%>
                    <span class="chat_date "><%= message_time(room) %>前</span>
                  <%# if unchecked_dmnotifications.any? %>
                  <%# end %>
                  </h5>
                  <p><%= most_new_message_preview(room) %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
        </div>