<!DOCTYPE html>
<html>
  <head>
    <title>StudyOutput</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Study Outoput</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header sticky-top ">
      <div class ="logo-block">
        <div class="logo">
          <%= link_to root_path, class: "text-decoration-none" do %>
            <h2 class="w-2x h-2x shadow-none text-decoration-none", style="font-weight: bold;">StudyOutput</h2>
          <% end %>
        </div>
      </div>
      <ul class="mypage-block">
        <li class= "header-list search"><dl class="searchbox">
            <%= search_form_for @q, url: articles_path do |f| %>
              <dt><%= f.text_field :title_or_tags_name_cont ,placeholder: '記事検索' %></dt>
              <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
            <% end %>
            </dl>
        </li>
      <% if user_signed_in? %>
        <% if unchecked_notifications.any? %>
          <i class="fa fa-circle", style="color: gold;"></i>
        <% end %>
        <li class= "header-list">
          <%= link_to  notifications_path do %>
            <i class="fas fa-bell fa-2x"></i>
          <% end %>
        </li>
        <li class= "header-list"><div class="dropdown">
              <button class="btn dropdown shadow-none pt-0 h-25" type="button" id="dropdownMenuButton", data-toggle="dropdown">        
                <% if current_user.image.attached? %>
                  <p><%= image_tag(rails_blob_path(current_user.image),:size => "50x50", class: "img-circle") %></p>
                <% else %>
                  <p><%= image_tag("default_user.png", :size => "50x50", class: "img-circle") %></p>
                <% end %> 
              </button>
              <div class="dropdown-menu dropdown-menu-right btn-sm">
              <%= link_to "マイページ", user_path(current_user.id), class: 'dropdown-item'%>
              <hr>
              <%= link_to "ログアウト", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </div>
        </li>
        <li class= "header-list"><%= link_to new_article_path do %>
              <button type="button" class="create-btn"><i class="fas fa-pencil-alt"></i>投稿する</button>
            <% end %>
        </li>
      <% else %>
        <li class= "header-list"><%= link_to "サインイン",new_user_session_path, class: 'btn btn-default'%>
        <li class= "header-list"><%= link_to "サインアップ",new_user_registration_path, class: 'btn btn-default'%>
      <% end %>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
