<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Study Outoput</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header sticky-top ">
      <div class ="logo-block">
        <div class="logo">
          <%= link_to root_path, class: "text-decoration-none" do %>
            <h2 class="w-2x h-2x shadow-none text-decoration-none", style="font-weight: bold;">StudyOutput</h2>
          <% end %>
        </div>
      </div>
      <ul class="mypage-block">
        <li class= "header-list search"><dl class="searchbox">
            <%= search_form_for @q_header, url: articles_path do |f| %>
              <dt><%= f.text_field :title_or_tags_name_cont ,placeholder: '記事検索' %></dt>
              <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
            <% end %>
            </dl>
        </li>
      <% if user_signed_in? %>
        <li class= "header-list mr-1">
          <%= link_to rooms_path do %>
            <% if unchecked_dmnotifications.any? %>
              <span class="fa-stack">
                <i class="fas fa-envelope fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x n-circle"></i>
              </span>
            <% else %>
              <i class="fas fa-envelope fa-2x header-icon"></i>
            <% end %>
          <% end %>
        </li>
        <li class= "header-list">
          <%= link_to  notifications_path do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack header-icon">
                <i class="fas fa-bell fa-stack-2x header-icon"></i>
                <i class="fa fa-circle fa-stack-1x n-circle header-icon"></i>
              </span>
            <% else %>
              <i class="fas fa-bell fa-2x header-icon"></i>
            <% end %>
          <% end %>
        </li>
        <li class= "header-list"><div class="dropdown">
              <button class="btn dropdown shadow-none pt-0 h-25" type="button" id="dropdownMenuButton", data-toggle="dropdown">        
                <% if current_user.avatar.attached? %>
                  <p><%= image_tag(rails_blob_path(current_user.avatar), size: "50x50", class: "img-circle", id: "avatar") %></p>
                <% else %>
                  <p><%= image_tag("default_user.png", size: "50x50", class: "img-circle header-image", id: "avatar") %></p>
                <% end %> 
              </button>
              <div class="dropdown-menu dropdown-menu-right btn-sm">
              <%= link_to "マイページ", user_path(current_user.id), class: 'dropdown-item'%>
              <%= link_to "いいねした投稿", user_path(id: current_user.id, option: "likes"), class: 'dropdown-item'%>
              <%= link_to "ストックした投稿", user_path(id: current_user.id, option: "stocks"), class: 'dropdown-item'%>
              <hr>
              <%= link_to "ログアウト", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </div>
        </li>
        <li class= "header-list"><%= link_to new_article_path do %>
              <button type="button" class="create-btn"><i class="fas fa-pencil-alt"></i>投稿する</button>
            <% end %>
        </li>
      <% else %>
        <li class= "header-list">
          <%= link_to new_user_session_path do%>
            <button type="button" class="create-btn">ログイン</button>
          <% end %>
        </li>
        <li class= "header-list">
        <%= link_to new_user_registration_path do%>
          <button type="button" class="create-btn">新規登録</button>
        <% end %>
        </li>
        <li class= "header-list">
        <%= link_to users_guest_sign_in_path, method: :post do %>
          <button type="button" class="create-btn">ゲスト</button>
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>
    <div class ="notifications">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    </div>
    <%= breadcrumbs separator: " &rsaquo; " %>  
    <%= yield %>
  </body>
</html>
